<!-- Interpolation <strong>{{title}}</strong> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-temp-inline></app-temp-inline> -->
<!-- <app-str-directives></app-str-directives> -->
<!-- <app-str-direct></app-str-direct> -->
<!-- <app-attr-direct></app-attr-direct> -->
<!-- <app-pipe-inbuit></app-pipe-inbuit> -->
<!-- <app-pipe-custom></app-pipe-custom> -->
<!-- <app-parent></app-parent> -->
<!-- <app-custom-direct></app-custom-direct> -->
<!-- <p>This is an app component</p>
<h1>This is header in app</h1>
<app-view-encapsule></app-view-encapsule> -->
<!-- <app-pipe-async></app-pipe-async> -->
<!-- <app-lifecycle [message]="title">
    <app-pipe-custom></app-pipe-custom>
</app-lifecycle> -->
<!-- <app-view-parent></app-view-parent> -->
<!-- <app-temp-forms></app-temp-forms> -->
<!-- <app-temp-forms-valid></app-temp-forms-valid> -->
<app-reactive-forms></app-reactive-forms>